


body {
    padding: 0;
    margin: 0;
    color: 000;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.section {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h1 {
    padding-bottom: 32px;
    padding-top: 8px;
}

ul, li {
    padding: 0;
    margin: 0 auto;
}


header a {
    color: #fff;

}

.menu {

    display: flex; /*выравнивание в одну линию*/
    padding-top: 30px;
    padding-bottom: 30px;  
}

.menu li a {

    text-decoration: none;
    font-style: 16px;
    font-weight: normal;
}

.menu li a:hover {
    color: #b0c4de;
    transition: background-color 0.5s ease;
}

.menu li {

    display: block;
    margin-left: 20px;

}

.nav {
    display: flex;
    align-items: center;
    background-color: #0260E8;
}

.btn {
    text-decoration: none;
    width: 200px;
    height: 500px;
    background-color: #0260E8;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
}

.btn:hover {
    background-color: #0043A4;
    transition: background-color 0.5s ease;
}

.start {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.ul-home-link a{
    text-decoration: none;
    color: #395778;
}

.ul-home-link a:hover {
    color: #000;
}

.home-link li {
    list-style: none;
}

.home-page {
    padding: 15px;
}

.form-questions li, .test-questions li{
    padding-top: 20px;
}


.form-questions label, .test-questions label {
    margin-bottom: 10px;
}

.edit {
    background: #0260E8;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    font-style: 16px;
    font-family: 'Open Sans', sans-serif;
    border: none;
}

.edit:hover {
    background: #0043a4;
    transition: background 0.5s ease;
}


#first-name, #last-name, #date, #tel, #vvod-bukv {
    border: 1px solid #a6bdd7;
    width: 250px;
    height: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000;
    font-style: 16px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;

}

#first-name:focus, #last-name:focus, #date:focus, #tel:focus, #vvod-bukv:focus {
    border: 2px solid #0260E8;
    width: 250px;
    height: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000;
    font-style: 16px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;

}

#less-than-one, #one-three, #more-than-three, #yes, #no, #see-one-yes, #see-one-no {
    border: 1px solid #a6bdd7;
    width: 15px;
    height: 15px;

}

label {
    margin-bottom: 5px;
}

.btn-sumbit, .test-btn {
    margin-top: 40px;
}

.test-btn {
    display: flex;
}

.test-btn-see-on, .test-btn-restart, .test-btn-restart-question {
        margin-right: 20px;
}



#own:not(:checked) ~ #own-size { display: none }
.custom-control {
    margin-top: 10px;
}

/* новый тест */.stroka-01 label, .stroka-02 label, .stroka-03 label, .stroka-04 label,
.stroka-05 label, .stroka-06 label, .stroka-07 label, .stroka-08 label, .stroka-09 label,
.stroka-10 label, .stroka-15 label, .stroka-20 label {
    margin-right: 10px;

}

/* test-test.html */

#stroka-01-sh, #stroka-01-b,
#stroka-02-m, #stroka-02-n, #stroka-02-k,
#stroka-03-y,#stroka-03-m, #stroka-03-b, #stroka-03-sh,
#stroka-04-b, #stroka-04-y, #stroka-04-n, #stroka-04-k, #stroka-04-m,
#stroka-05-i, #stroka-05-n, #stroka-05-sh, #stroka-05-m, #stroka-05-k,
#stroka-06-n, #stroka-06-sh, #stroka-06-y, #stroka-06-i, #stroka-06-k, #stroka-06-b,
#stroka-07-sh, #stroka-07-i, #stroka-07-n, #stroka-07-b, #stroka-07-k, #stroka-07-y,
#stroka-08-k,#stroka-08-n, #stroka-08-sh, #stroka-08-m, #stroka-08-y, #stroka-08-b, #stroka-08-i,
#stroka-09-b, #stroka-09-k, #stroka-09-sh, #stroka-09-m, #stroka-09-i, #stroka-09-y, #stroka-09-n,
#stroka-10-n, #stroka-10-k, #stroka-10-i, #stroka-10-b, #stroka-10-m, #stroka-10-sh, #stroka-10-y, #stroka-10-b,
#stroka-15-sh, #stroka-15-i, #stroka-15-n, #stroka-15-k, #stroka-15-m, #stroka-15-m, #stroka-15-i, #stroka-15-y, #stroka-15-b,
#stroka-20-i, #stroka-20-m, #stroka-20-sh, #stroka-20-i, #stroka-20-n, #stroka-20-b, #stroka-20-m, #stroka-20-k {
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 18px;
    text-align:center;
}


/* SPOILER*/
.spoiler-title-01, .spoiler-title-02, .spoiler-title-03, .spoiler-title-04, .spoiler-title-05, .spoiler-title-06, .spoiler-title-07, .spoiler-title-08, .spoiler-title-09, .spoiler-title-10, .spoiler-title-15, .spoiler-title-20{cursor:pointer;}
.spoiler-body-01, .spoiler-body-02, .spoiler-body-03, .spoiler-body-04, .spoiler-body-05, .spoiler-body-06, .spoiler-body-07, .spoiler-body-08, .spoiler-body-09, .spoiler-body-10, .spoiler-body-15, .spoiler-body-20 {display:none;background:#f1f1f1;}
.opened {color:green;}
.closed {color:blue;}